@charset "utf-8";
* { margin: 0; padding: 0; border: 0; font-size: 100%; }
.my-container{
	text-align: center;
	font-family: 'Monteserrat', sans-serif;
	font-size:	55px;
	color: rgba(66,130,107,1.00)
}
.my-vision{
	color: rgba(227,245,222,1.00);
	background-color: #6AC489;
	text-align: center;
	margin-bottom: 7px;
    margin-left: 40px;
	margin-right:  40px;
	margin-top:  7px;
	padding: 1px;
	font-family: 'Montserrat', sans-serif;	
}
.header{
	color: white;
	background-image: url("../images/header wb-02.jpg");
    text-align: center;
	background-size: contain;
	background-position:100% 50%;
	height: 250px
}
.mission{
	color: rgba(227,245,222,1.00);
	background-color: #6AC489;
	text-align: center;
	margin-bottom: 7px;
    margin-left: 40px;
	margin-right:  40px;
	margin-top:  7px;
	padding: 1px;
	font-family: 'Montserrat', sans-serif;
}
.footer{
	background-image: url("../images/footer wb-02.jpg");
	background-size: contain;
	height: 250px;
}
.style{
	color:rgba(66,130,107,1.00);
}