@charset "utf-8";
* { margin: 0; padding: 0; border: 0; font-size: 100%; }
.my-container{
	text-align: center
}

.my-vision{
	color: black;
	background-color: #6AC489;
	text-align: center;
	margin-auto: 5px
}